
<h1>Add an Album</h1>

<form action="album/add" method="POST">
  <fieldset>
    <label for="name">Artist Name</label>
    <input type="text" name="name" placeholder="Beyoncé">

    <label for="genre">Genre</label>
    <input type="text" name="genre" placeholder="R&B">

    <label for="album">Album Name</label>
    <input type="text" name="album" placeholder="Beyoncé">

    <label for="year">Album Year</label>
    <input type="text" name="year" placeholder="2014">

    <label for="art">Album Art</label>
    <input name="art" type="text" placeholder="Album Art URL">

    <input type="submit" value="Add Album">
  </fieldset>
</form>