<!DOCTYPE html>
<html>
<head>
  <title></title>
</head>
<body>
  <h1>Create an artist</h1>
  <form>
    <input type="text" placeholder="Artist Name">
    <input type="submit" value="Add Artist">
  </form>
</body>
</html>