<!DOCTYPE html>
<html>
<head>
</head>
<body>
  <h1><%= title %></h1>

  <div class="artists">
    <table>
      <tr>
        <th>Artist</th>
        <th>Genre</th>
      </tr>
      <% artists.forEach(function (artist){ %>
      <tr>
        <td><%= artist.name %></td>
        <td><%= artist.genre %></td>
      </tr>
      <% }); %>
    </table>
  </div>

</body>
</html>